{% extends 'admin_panel/base.html' %}

{% block content %}
<h1>SuperAdmin Dashboard</h1>

<h2>All Users</h2>
<a href="{% url 'user_create' %}" class="btn btn-primary">➕ Create User</a>
<table>
  <tr>
    <th>Username</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.username }}</td>
    <td>{{ user.role }}</td>
    <td>
      <a href="{% url 'user_update' user.id %}" class="btn btn-sm btn-warning">✏️ Edit</a>
      <a href="{% url 'user_delete' user.id %}" class="btn btn-sm btn-danger">🗑️ Delete</a>
   
    </td>
    <td>
      <a href="{% url 'superadmin_user_detail' user.id %}">View Tasks</a>
    </td>
  </tr>
  {% endfor %}
</table>

<h2>All Tasks</h2>

<a href="{% url 'task_create' %}" class="btn btn-primary">➕ Add Task</a>

<table>
  <tr>
    <th>Title</th>
    <th>Assigned To</th>
    <th>Assigned Admin</th>
    <th>Status</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{ task.title }}</td>
    <td>{{ task.assigned_to.username }}</td>
    <td>{{ task.assigned_admin.username }}</td>
    <td>{{ task.status }}</td>
    <td>

         <a href="{% url 'task_update' task.id %}">✏️ Edit</a>
    <a href="{% url 'task_delete' task.id %}">🗑️ Delete</a>
    </td>

        <td>
      <a href="{% url 'superadmin_task_detail' task.id %}">View Tasks</a>
    </td>
     
  </tr>
  {% endfor %}
</table>
{% endblock %}
